input[type="search"]{
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px solid #444;
    background: #121212;
    color: white;
    border: 1px solid black;
}

.card{ /*Zone sur laquelle les éléments écrits se trouvent*/
    width: 1000px;
    background-color: rgb(36, 34, 34);
}

/*Sépare le partie Titre de la partie texte*/
.top {
    display: flex;
    align-items: center;
}
.top h1 {
    margin-right: auto;
}

.top a {
    margin-right: auto;
    text-decoration: none;
    color: white;
}

.tag{
    margin-left: 10px;
    padding-right: 3px;
    padding-left: 3px;
    display: flex;
    width: fit-content;
    background-color: grey;
    top: 0;
    right: 0;
    border-radius : 24px;
}

.checkbox{
    width: fit-content;
    margin: auto;
}

.filtre{
    width: fit-content;
    margin: auto;
}

/* Keyframes permet de créer des animation qu'on peut ensuite utiliser */
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;} 
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
}

.item {
    font-weight: bold;
    color: #eee;
}

/* Text classes */
.text-xxl{
    font-size: 3rem;
    line-height: 1.2;
    font-weight: 600;
    margin: 40px 0 20px;
}

.text-xl{
    font-size: 2.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 40px 0 20px;
}
.text-lg{
    font-size: 1.8rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 30px 0 20px;
}
.text-md{
    font-size: 1.2rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 20px 0 10px;
}
.text-sm{
    font-size: 0.9rem;
    line-height: 1.4;
    font-weight: normal;
    margin: 10px 0 5px;
}

