/* 🌞 Style clair */
[data-theme="light"] {
	--bg-color: #ececec;
	--text-color: black;
    --card-bg-color: rgb(173, 169, 169);
    --tag-bg-color: rgb(139, 139, 139);
}

/* 🌚 Style sombre */
[data-theme="dark"] {
	--bg-color: black;
	--text-color: #ececec;
    --card-bg-color: rgb(36, 34, 34);
    --tag-bg-color: rgb(109, 109, 109);
}
html {
	background-color: var(--bg-color);
	color: var(--text-color);
}

input[type="search"]{
    padding: 8px 10px;
    box-sizing: border-box;
    border-radius: 20px;
    border: 0px solid #444;
    background: #121212;
    color: white;
    border: 1px solid black;
}

.card{ /*Zone sur laquelle les éléments écrits se trouvent*/
    width: 1000px;
    background-color: var(--card-bg-color);
	color: var(--text-color);
}

/*Sépare le partie Titre de la partie texte*/
.top {
    display: flex;
    align-items: center;
}
.top h1 {
    margin-right: auto;
}

.tag{
    margin-left: 10px;
    padding-right: 3px;
    padding-left: 3px;
    display: flex;
    width: fit-content;
    background-color: var(--tag-bg-color);
	color: var(--text-color);
    top: 0;
    right: 0;
    border-radius : 24px;
}

.checkbox{
    width: fit-content;
    margin: auto;
}

.filtre{
    width: fit-content;
    margin: auto;
}

.checkbox2{
    margin: auto;
    width: fit-content;
}

/* Keyframes permet de créer des animation qu'on peut ensuite utiliser */
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;} 
}
@keyframes fadeOut {
   0% {opacity: 1;}
   100% {opacity: 0;} 
}

.item {
    font-weight: bold;
    color: #eee;
}

